<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tron.mapper.TxGoldMapper">

    <resultMap type="TxGold" id="TxGoldResult">
        <result property="id" column="id"/>
        <result property="address" column="address"/>
        <result property="privateKey" column="private_key"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectTxGoldVo">
        select id, address, private_key, status, create_time, del_flag
        from tx_gold
    </sql>

    <select id="selectTxGoldList" parameterType="TxGold" resultMap="TxGoldResult">
        <include refid="selectTxGoldVo"/>
        <where>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="privateKey != null  and privateKey != ''">and private_key = #{privateKey}</if>
            <if test="status != null ">and status = #{status}</if>
            and del_flag = 0
        </where>
    </select>

    <select id="selectTxGoldById" parameterType="Long" resultMap="TxGoldResult">
        <include refid="selectTxGoldVo"/>
        where id = #{id}
    </select>

    <insert id="insertTxGold" parameterType="TxGold">
        insert into tx_gold
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="privateKey != null and privateKey != ''">private_key,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="privateKey != null and privateKey != ''">#{privateKey},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateTxGold" parameterType="TxGold">
        update tx_gold
        <trim prefix="SET" suffixOverrides=",">
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="privateKey != null and privateKey != ''">private_key = #{privateKey},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateTxGoldByDelFlag">
        update tx_gold
        set del_flag = 2
        where id = #{id}
    </update>

    <delete id="deleteTxGoldById" parameterType="Long">
        delete
        from tx_gold
        where id = #{id}
    </delete>

    <delete id="deleteTxGoldByIds" parameterType="String">
        delete from tx_gold where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>